/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.php_cs.cache
/storage/debugbar
.blueprint

.env
.license.txt
.phpunit.result.cache
.codesign_pwd.txt
_ide_helper_models.php
_ide_helper.php
npm-debug.log
.php-cs-fixer.cache
mix-manifest.json

vendor/
build/
storage/
node_modules/

deploy/nginx/default.conf
deploy/php/php.ini

etc/php/php.ini

database/model/model.mwb.bak

routes/cache

public/static/img/produto/*
public/static/img/cliente/*
public/downloads
public/css
public/js
public/storage


utils/generator/output
utils/*.sublime-workspace

*.sublime-workspace
**/*.pyc